.*.sw?
**/inspec.lock
**/Puppetfile.lock
.yardoc
.beaker
dist/
sec_results/
pkg/
spec/results/*
!spec/results/.gitkeep
spec/rp_env/
.rspec_system/
.vagrant/
.bundle/
Gemfile.lock
vendor/
junit/
log/
doc/
.kitchen/
.tmp/
reports/
.github*
.gemrc
.rspec*
CHANGELOG
Puppet*
*.csv
_config*
inputs.nolong*
profile.json